<div class="page-wrapper">
          <div class="icon-badge">
        <img src="images/logo.png" alt="MedCare Logo" class="icon-image" width="100px">
      </div>
  <div class="page-header">
    <h1 class="page-title">{{ isEditMode ? 'Edit Department' : 'Add Department' }}</h1>
  </div>

  <div class="form-layout">
    <div class="side-panel">
      <p class="side-slogan">
        Keep every department organized and easy to find across the clinic.
      </p>

      <img src="images/department.png" alt="" class="department-illustration">
    </div>

    <div class="content-card">
        <img src="images/new.png" alt="" width="75px" class="news">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="department-form">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Dep Name</mat-label>
          <input matInput formControlName="name">
          @if (form.get('name')?.hasError('required')) {
            <mat-error>Name is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Dep Code</mat-label>
          <input matInput formControlName="code">
          @if (form.get('code')?.hasError('required')) {
            <mat-error>Code is required</mat-error>
          }
        </mat-form-field>

        <div class="form-actions">
          <button mat-button type="button" (click)="onCancel()">Cancel</button>
          <button mat-raised-button color="primary" type="submit" class="save-btn" [disabled]="form.invalid">
            {{ isEditMode ? 'Save Changes' : 'Create' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>