<div class="login-page-wrapper">
  <h1 class="page-title">MedCare Clinic</h1>

  <div class="login-card">
    <div class="left-panel">
      <div class="icon-badge">
        <img src="images/logo.png" alt="MedCare Logo" class="icon-image">
      </div>
      <p class="brand-slogan">
        We at MedCare are always fully focused on your health.
      </p>

      <div class="illustration-container">
        <img src="images/steth.png" alt="MedCare Cardiology & Surgery" class="steth-img floating-animation" />
      </div>
    </div>
    <div class="right-panel">
        <img src="images/loginIcon.jpg" alt="" width="180px" class="login-image">
      <h2 class="form-heading">Welcome Back</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
          <label>Username or Email:</label>
          <input type="text" formControlName="usernameOrEmail" placeholder="" />
        </div>

        <div class="form-group password-group">
          <label>Password:</label>
          <div class="input-wrapper">
            <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="" />
            <button type="button" class="toggle-eye" (click)="hidePassword = !hidePassword">
              <svg *ngIf="hidePassword" viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" fill="none" stroke-width="2">
                <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"/>
                <line x1="1" y1="1" x2="23" y2="23"/>
              </svg>
              <svg *ngIf="!hidePassword" viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" fill="none" stroke-width="2">
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
                <circle cx="12" cy="12" r="3"/>
              </svg>
            </button>
          </div>
        </div>

        <button type="submit" class="submit-btn" [disabled]="form.invalid">
          Log in
        </button>
      </form>
    </div>
  </div>
</div>